html {
  height: 100%;
  color: deepskyblue;
}

body {
  background-image: url("1589607149_550_Off-White-4K-Wallpapers-2020.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  padding: 0;
  margin: 0;
  overflow: none;
}

h1 {
  color: lightslategrey;
}
p {
  color: #131212e7;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: #131212e7;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.description {
  color: #131212e7;
  font-family: "Times New Roman", Times, serif;
  font-size: x-large;
}

.mk {
  margin: auto;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.shine {
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 60%;
  width: 220px;
  margin-bottom: 100px;
}

.music {
  float: right;
  margin-right: 3%;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.music p {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5f5f5f;
  font-weight: 300;
  margin-right: 10px;
  text-align: right;
}

#icon {
  width: 50px;
  cursor: pointer;
}

.b {
  font-size: 20px;
  margin-left: 6%;
  color: #131212e7;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
