html {
    height: 100%;
    color: deepskyblue;
}

body {
    background-image: url('sakura.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%
    }

    h1  {color: pink;}
    p   {color: pink;}

    
